.onclick_badge {
    cursor: pointer !important;
}

.dropdown {
    width: 0px !important;
    height: 0px !important;
}

.spinner_div {
    width: 50px !important;
}

.vertical-center {
    min-height: 80%;
    min-height: 80vh;
  
    display: flex;
    align-items: center;
}
