.onclick_badge {
    cursor: pointer !important;
}

.search_box {
    width: 150% !important;
}

.hide {
    padding: 0px !important;
    margin: 0px !important;
}

.dropdown {
    width: 0px !important;
    height: 0px !important;
}
